
#active, #hamburger-active, #mainNav-active {
    text-decoration: underline;
    color: var(--main_yellow);
}


#hamburger-icon {
    padding-right: 1rem;
    font-size: 4rem;
    float: right;
}

.hamburger-nav {
    font-size: 4rem;
    position: absolute;
    top: 125px;
    left: 0px;   
    background-color: var(--main_green);
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    display: none;
}


.hamburger-link {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif, arial;
    color: var(--black);
    padding: 2rem 0;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .hamburger-nav {
    display: flex;
}

#hamburger-icon {
    border: 0.2rem solid var(--main_yellow);
    font-size: 4rem;
    justify-self: flex-end;
    color: var(--main_green);
    padding: 0.5rem 0.8rem;
}


@media (min-width: 1200px) {
    #hamburger-icon {
        display: none;
    }
}
